<!-- align-items-center -->
<div class="h-100vh d-flex align-items-center justify-content-center">
  <div class="container">
    <div class="mb-3">
      <label>
        {{ "TITLES.SELECT" | translate }}
        <select #langSelect (change)="translate.use(langSelect.value)">
          <option
            *ngFor="let lang of translate.getLangs()"
            [value]="lang"
            [selected]="lang === translate.currentLang"
          >
            {{ lang }}
          </option>
        </select>
      </label>
    </div>

    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="{{ 'TITLES.SEARCH' | translate }}"
        aria-label="Username"
        aria-describedby="basic-addon1"
        (keyup)="search($event)"
      />
    </div>

    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">{{ "TABLE.HEDER.NAME" | translate }}</th>
          <th scope="col">{{ "TABLE.HEDER.LAST" | translate }}</th>
          <th scope="col">{{ "TABLE.HEDER.AGE" | translate }}</th>
          <th scope="col">{{ "TABLE.HEDER.PHONE" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let user of users; let i = index">
          <tr>
            <th scope="row" [textContent]="i + 1"></th>
            <td [textContent]="user.name"></td>
            <td [textContent]="user.last"></td>
            <td [textContent]="user.age"></td>
            <td [textContent]="user.phone"></td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>

<router-outlet></router-outlet>
